@charset "UTF-8";
/* CSS Document */

body {
		
}

.top {
		margin:20px;
		width: auto;
		height:500px;
		padding-top:20px;
		background-color:black;
}

.top img{
		width:400px;
		float:left;
}

.p {
		color:white;
		padding-top:300px;
		width:75%;
		
}

.bottom {
	width: 100%;
	height:auto;
	float:left;
	margin-top: 10px;
}

.bottom img {
	float:right;
	width:200px;
}

h1{
	color:red;
	text-align:left;
}

h2 {
	color:grey;
	text-align:center;
}
.para {
	margin:20px;
	padding:10px;
	width:400px;
}